@model BS_Core_WepApp.Models.ProductModel

@{
    ViewData["Title"] = "Ürün Oluştur";
}

@*<div class="container">
     <div class="row">
        <div class="intro-message">
            <h1>BitSpecial Firebase Database</h1>
            <h3>Firestore/FthTest-users >> New User</h3>
            <hr class="intro-divider">
        </div>
    </div> *@

<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Yeni Ürün Ekle</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <form enctype="multipart/form-data" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="erpCode" class="control-label">Erp Kodu</label>
                            <input asp-for="erpCode" class="form-control" />
                            <span asp-validation-for="erpCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="category0" class="control-label">Grup Kodu</label>
                            <select asp-for="category0" class="form-control">
                                <option value="bebek">bebek</option>
                                <option value="cocuk">cocuk</option>
                                <option value="genc">genc</option>
                                <option value="tamamlayici">tamamlayici</option>
                                <option value="mobilya">mobilya</option>
                                <option value="karyola">karyola/daybed</option>
                                <option value="kampanya">kampanya</option>
                            </select>
                            <span asp-validation-for="category0" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="category1" class="control-label">Takım Kodu</label>
                            <select asp-for="category1" class="form-control" name="category1" multiple>
                                <option value=""></option>
                                @foreach (var item in ViewBag.category1)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                            <span asp-validation-for="category1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="includeSet" class="control-label">Takıma Dahil mi?</label>
                            <input asp-for="includeSet" class="form-control" />
                            <span asp-validation-for="includeSet" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="name" class="control-label">Ürün İsmi</label>
                            <input asp-for="name" class="form-control" />
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="description" class="control-label">Ürün Açıklaması</label>
                            <input asp-for="description" class="form-control" type="text"/>
                            <span asp-validation-for="description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="olc_gen" class="control-label">Genişlik (cm)</label>
                            <input asp-for="olc_gen" class="form-control"/>
                            <span asp-validation-for="olc_gen" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="olc_yuk" class="control-label">Yükseklik (cm)</label>
                            <input asp-for="olc_yuk" class="form-control"/>
                            <span asp-validation-for="olc_yuk" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="olc_der" class="control-label">Derinlik (cm)</label>
                            <input asp-for="olc_der" class="form-control"/>
                            <span asp-validation-for="olc_der" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="price" class="control-label">Nakit Fiyatı</label>
                            <input asp-for="price" class="form-control" id="price" oninput="calculateDiscountRate()" />
                            <span asp-validation-for="price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="discountedPrice" class="control-label">İndirimli Nakit Fiyatı</label>
                            <input asp-for="discountedPrice" class="form-control" id="discountedPrice" oninput="calculateDiscountRate()" />
                            <span asp-validation-for="discountedPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="discountRate" class="control-label">Nakit Fiyat İndirim Oranı</label>
                            <input asp-for="discountRate" class="form-control" id="discountRate" oninput="manualDiscountRateChange()" />
                            <span asp-validation-for="discountRate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="installmentPrice" class="control-label">9 Taksitli Fiyatı</label>
                            <input asp-for="installmentPrice" class="form-control" id="installmentPrice" oninput="calculateDiscountRate()" />
                            <span asp-validation-for="installmentPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="discountedInstallmentPrice" class="control-label">9 Taksitli İndirimli Fiyatı</label>
                            <input asp-for="discountedInstallmentPrice" class="form-control" id="discountedInstallmentPrice" oninput="calculateDiscountRate()" />
                            <span asp-validation-for="discountedInstallmentPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="discountInstallmentRate" class="control-label">9 Taksitli İndirim Oranı</label>
                            <input asp-for="discountInstallmentRate" class="form-control" id="discountInstallmentRate" oninput="manualDiscountRateChange()" />
                            <span asp-validation-for="discountInstallmentRate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="order" class="control-label">Sıralama No</label>
                            <input asp-for="order" class="form-control" />
                            <span asp-validation-for="order" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="image0" class="control-label">Resim 1</label>
                            <div class="custom-file">
                                <input id="customFile0" asp-for="image0" class="custom-file-input" type="file" name="file0" accept="image/*" />
                                <label class="custom-file-label" for="customFile0">Dosya Seç</label>
                            </div>
                            <span asp-validation-for="image0" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="image1" class="control-label">Resim 2</label>
                            <div class="custom-file">
                                <input id="customFile1" asp-for="image1" class="custom-file-input" type="file" name="file1" accept="image/*" />
                                <label class="custom-file-label" for="customFile1">Dosya Seç</label>
                            </div>
                            <span asp-validation-for="image1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="image2" class="control-label">Resim 3</label>
                            <div class="custom-file">
                                <input id="customFile2" asp-for="image2" class="custom-file-input" type="file" name="file2" accept="image/*" />
                                <label class="custom-file-label" for="customFile2">Dosya Seç</label>
                            </div>
                            <span asp-validation-for="image2" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="image3" class="control-label">Resim 4</label>
                            <div class="custom-file">
                                <input id="customFile3" asp-for="image3" class="custom-file-input" type="file" name="file3" accept="image/*" />
                                <label class="custom-file-label" for="customFile3">Dosya Seç</label>
                            </div>
                            <span asp-validation-for="image3" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="image4" class="control-label">Resim 5</label>
                            <div class="custom-file">
                                <input id="customFile4" asp-for="image4" class="custom-file-input" type="file" name="file4" accept="image/*" />
                                <label class="custom-file-label" for="customFile4">Dosya Seç</label>
                            </div>
                            <span asp-validation-for="image4" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="image5" class="control-label">Resim 6</label>
                            <div class="custom-file">
                                <input id="customFile5" asp-for="image5" class="custom-file-input" type="file" name="file5" accept="image/*" />
                                <label class="custom-file-label" for="customFile5">Dosya Seç</label>
                            </div>
                            <span asp-validation-for="image5" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="image6" class="control-label">Resim 7</label>
                            <div class="custom-file">
                                <input id="customFile6" asp-for="image6" class="custom-file-input" type="file" name="file6" accept="image/*" />
                                <label class="custom-file-label" for="customFile6">Dosya Seç</label>
                            </div>
                            <span asp-validation-for="image6" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="image7" class="control-label">Resim 8</label>
                            <div class="custom-file">
                                <input id="customFile7" asp-for="image7" class="custom-file-input" type="file" name="file7" accept="image/*" />
                                <label class="custom-file-label" for="customFile7">Dosya Seç</label>
                            </div>
                            <span asp-validation-for="image7" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="image8" class="control-label">Resim 9</label>
                            <div class="custom-file">
                                <input id="customFile8" asp-for="image8" class="custom-file-input" type="file" name="file8" accept="image/*" />
                                <label class="custom-file-label" for="customFile8">Dosya Seç</label>
                            </div>
                            <span asp-validation-for="image8" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="image9" class="control-label">Resim 10</label>
                            <div class="custom-file">
                                <input id="customFile9" asp-for="image9" class="custom-file-input" type="file" name="file9" accept="image/*" />
                                <label class="custom-file-label" for="customFile9">Dosya Seç</label>
                            </div>
                            <span asp-validation-for="image9" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" value="Create" class="btn btn-primary rounded-0">Kaydet</button>
                            <a class="btn btn-info" asp-action="Index"><i class="fa fa-fast-forward"></i>Listeye Geri Dön</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">

        let manualOverride = false;

        function calculateDiscountRate() {
            if (manualOverride) return;

            // Nakit Fiyat hesaplama
            const price = parseFloat(document.getElementById('price').value.replace(',', '.'));
            const discountedPrice = parseFloat(document.getElementById('discountedPrice').value.replace(',', '.'));

            if (!isNaN(price) && !isNaN(discountedPrice) && price > 0) {
                const discountRate = ((price - discountedPrice) / price) * 100;
                document.getElementById('discountRate').value = discountRate.toFixed(2).replace('.', ',');
            } else {
                document.getElementById('discountRate').value = '';
            }

            // 9 Taksitli Fiyat hesaplama
            const installmentPrice = parseFloat(document.getElementById('installmentPrice').value.replace(',', '.'));
            const discountedInstallmentPrice = parseFloat(document.getElementById('discountedInstallmentPrice').value.replace(',', '.'));

            if (!isNaN(installmentPrice) && !isNaN(discountedInstallmentPrice) && installmentPrice > 0) {
                const discountInstallmentRate = ((installmentPrice - discountedInstallmentPrice) / installmentPrice) * 100;
                document.getElementById('discountInstallmentRate').value = discountInstallmentRate.toFixed(2).replace('.', ',');
            } else {
                document.getElementById('discountInstallmentRate').value = '';
            }
        }

        function manualDiscountRateChange() {
            manualOverride = true;
        }

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });


        document.getElementById('price').addEventListener('input', () => { manualOverride = false; calculateDiscountRate(); });
        document.getElementById('discountedPrice').addEventListener('input', () => { manualOverride = false; calculateDiscountRate(); });
        document.getElementById('installmentPrice').addEventListener('input', () => { manualOverride = false; calculateDiscountRate(); });
        document.getElementById('discountedInstallmentPrice').addEventListener('input', () => { manualOverride = false; calculateDiscountRate(); });
    </script>
}
}
